main {
  margin: 25px;
  border: 2px solid #000;
  padding: 25px;
}

hr {
  border: 0;
  height: 2px;
  background: #000;
  margin: 25px 0;
  margin-right: 25%;
}

h2 {
  color: #217026;
  font-size: 21px;
  font-weight: 400;
}

h3 {
  color: #2061c9;
  font-size: 18px;
  font-weight: 400;
}

li {
  list-style: square;
}

a {
  text-decoration: none;
}

p {
  font-size: 17px;
}

aside li {
  list-style: none;
  letter-spacing: .5px;
  margin-bottom: 5px;
}